/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styling */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #222;
}

a {
  text-decoration: none;
}

.header-container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Come back to this for sections, container, heading */

/* Header */

header {
  background-color: white;
  padding: 20px 50px;
  border-bottom: 1px solid #cdcdcd;
}

.logo {
  color: #2563eb;
  font-size: 36px;
}

.nav-container {
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-container li a {
  color: #333;
}
.product-row {
  display: flex;
  gap: 20px;
}
.product-card {
  background-color: grey;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  /* border: 1px solid red; */
}
.product-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  flex-grow: 1;
}
.product-bottom {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 24px;
  font-weight: bold;
}
.product-image {
  height: 220px;
  object-fit: cover;
}
.headphone-image {
  object-position: right;
}
