/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #222222;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

/* HEADER */

.header {
  background-color: #dbeafe;
  padding: 30px 0;
  margin-bottom: 25px;
}

.header h1 {
  margin-bottom: 10px;
}

/* SECTION */

.section {
  background-color: white;
  border: 1px solid #dddddd;
  padding: 20px;
  margin-bottom: 20px;
}

.section h2 {
  color: #1d4ed8;
  margin-bottom: 10px;
}

.section p {
  margin-bottom: 15px;
}

/* SHARED EXAMPLES */

.example-row {
  display: flex;
  gap: 20px;
}

.color-box {
  width: 250px;
  padding: 30px;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

/* We start coding here */
