/* CSS Variables */
:root {
  --primary-color: #2563eb;
  --secondary-color: #20489c;
  --accent-color: #342e4a;

  --text-color: #333333;
  --page-background: #e5e8ee;
  --card-background: #a3a5aa;

  --destructive: #f00;

  /* Spacing */
  --small-space: 1rem;
  --medium-space: 1.5rem;
  --large-space: 2.5rem;

  /* Font Size */
  --small-font: 1rem;
  --medium-font: 1.5rem;
  --large-font: 2.5rem;

  /* Border radius */
  --border-radius: 8px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--page-background);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

header {
  background-color: var(--secondary-color);
  padding: var(--large-space) 0;
  margin-bottom: var(--medium-space);
}
.primary-color {
  color: var(--primary-color);
}

h1 {
  color: var(--text-color);
}
